bin/
obj/
Debug/
Release/

TestResults/
packages/

/TUSBudget/TUSBudget/_Pvt_Extensions


*.suo

*.o
*.map
*.err
*.cof
*.hex
*.tagsrc
*.mptags
*.mcs

*.b#*
*.pro
*.s#*
*.l#*

*.pyc

!/TUSBudget/TUSBudget/Bin/Data/ApplicationDatabase.mdf
!/TUSBudget/TUSBudget/Bin/Data/ApplicationDatabase_log.ldf