<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DialogConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <DialogConsole.Properties.Settings>
            <setting name="SheetPath" serializeAs="String">
                <value>C:\DropboxProg\console_page\2014fes_blocks.yaml</value>
            </setting>
            <setting name="IpSegment" serializeAs="String">
                <value>192.168.2.0</value>
            </setting>
            <setting name="IpMask" serializeAs="String">
                <value>255.255.255.0</value>
            </setting>
            <setting name="IpPort" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="ParentDeviceID" serializeAs="String">
                <value>(9, 0, 0)</value>
            </setting>
            <setting name="RoutePath" serializeAs="String">
                <value>C:\DropboxProg\console_page\2014fes_routes.yaml</value>
            </setting>
            <setting name="IlluminationPath" serializeAs="String">
                <value>C:\DropboxProg\console_page\2014fes_illuminate.yaml</value>
            </setting>
            <setting name="http" serializeAs="String">
                <value>http://+:8012/</value>
            </setting>
            <setting name="VehicleGroupPath" serializeAs="String">
                <value>C:\DropboxProg\console_page\test_vehicles.yaml</value>
            </setting>
        </DialogConsole.Properties.Settings>
    </userSettings>
</configuration>
